.Signup {
  padding: 60px 0;
}

.Signup form {
  margin: 0 auto;
  max-width: 250px;

  @media (min-width: "768px") {
    max-width: 350px;
  }
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}
