.NewNote form {
  width: 100vw;
  padding: 0px 20px;

  @media (min-width: "768px") {
    padding: 0px 4vw;
  }

  @media (min-width: "1440px") {
    padding: 0px 11vw;
  }
}

.NewNote form textarea {
  height: 300px;
  font-size: 24px;
}
